// SASS variables
$accentDark: #001524;
$accentLight: #15616d;
$highlight: #ffecd1;
$dark: #ff7d00;
$light: #78290f;

// Override bootstrap styles here. 
// See https://getbootstrap.com/docs/4.0/getting-started/theming/#theme-colors for some pointers
$primary: $accentDark;
$danger: $highlight;
$secondary: $accentLight;
$warning: #fbff00;
$info: $dark;
$success: #156d19;